<<<<<<< HEAD
<%= simple_form_for(@fortune) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :quotation %>
    <%= f.input :source %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
=======
<%= form_for(@fortune) do |f| %>
  <% if @fortune.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fortune.errors.count, "error") %> prohibited this fortune from being saved:</h2>

      <ul>
      <% @fortune.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :quotation %><br />
    <%= f.text_area :quotation %>
  </div>
  <div class="field">
    <%= f.label :source %><br />
    <%= f.text_field :source %>
  </div>
  <div class="actions">
    <%= f.submit %>
>>>>>>> 8d2aebde7e651eb71d84c9de057e64e9884be77f
  </div>
<% end %>
