<<<<<<< HEAD
<%= stylesheet_link_tag    "style_fortunka" %>
<% @fortunes.each do |fortune| %>
=======
<h1>Listing fortunes</h1>

>>>>>>> 8d2aebde7e651eb71d84c9de057e64e9884be77f
<table>
  <tr>
    <th>Quotation</th>
    <th>Source</th>
<<<<<<< HEAD
	<th></th>
<th></th>
<th></th>
  </tr>
  <tr>
    <td id="cytat"><%= fortune.quotation %></td> 
    <td id="zrodlo"><%= fortune.source %></td>
	<td><%= link_to 'Show', fortune %></td>
	<td><%= link_to 'Back', edit_fortune_path(fortune) %></td>
	<td><%= link_to 'Delete', fortune, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
</table>	
<br/>
<% end %>
<h3><%= link_to 'New Fortune', new_fortune_path %></h3>
=======
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fortunes.each do |fortune| %>
  <tr>
    <td><%= fortune.quotation %></td>
    <td><%= fortune.source %></td>
    <td><%= link_to 'Show', fortune %></td>
    <td><%= link_to 'Edit', edit_fortune_path(fortune) %></td>
    <td><%= link_to 'Destroy', fortune, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Fortune', new_fortune_path %>
>>>>>>> 8d2aebde7e651eb71d84c9de057e64e9884be77f
